* {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to right, #2165a9, #09bcc1); */
  background-color: #000000;
  color: #D9D9D9;
}
/* Nav Styles */
nav {
  width: 84%;
  height: 50px;
  margin: 20px auto;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#595959; 
  padding: 10px 20px;
  border-radius: 50px; 
}
/* .logo{
  flex-basis: 20%;
} */
.logo img{
  width: 60px;
  height: 40px;

}

.nav-links {
  display: flex;
  list-style: none;
  transform: translateX(-50px);
  margin: 0;
  padding: 0;

}
.nav-links li{
  list-style: none;
  cursor: pointer;
}
.nav-links a {
  text-decoration: none; 
  color: #FFFFFF;
  font-size: 16px; 
  font-weight: 200;
  line-height: 27px;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease 0.3;
}

.nav-links a:hover {
  color:#FFBA36;
}
.container-contact .contact-us {
  width: 160px;
  text-decoration: none;
  color:#000000;
  background-color: #D9D9D9; 
  padding: 5px 5px; 
  border-radius: 20px; 
  border: 2px solid transparent; 
  font-size: 18px; 
  font-weight: bold; 
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
  border-bottom: 2px solid transparent;
 
}
/* -------Nav bar END-------- */

/* Hero-Container */

.hero-container {
  width: 84%;
  margin: 0 auto;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-text {
  font-family: 'Proza Libre', sans-serif; 
  font-weight: 400;
  font-size: 63px; 
  line-height: 86.01px; 
  color: #FFFFFF; 
  width: 45%;
}

.hero-text .highlight {
  color: #FFBA36; 
}

.buttons-wrapper {
  display: flex;
  margin-top: 1rem;
}
/* Banner Images */
.banner-images{
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;

}

.one>img{
  object-fit: cover!important;
  object-position: center center!important;
  width:196px !important;
  height: 234px!important;
  padding: 15px!important;
  border-radius: 70px  0px 70px 0px!important;
  
}

.two>img{
  object-fit: cover;
  object-position: center center;
  width:196px ;
  height: 234px;
  padding: 15px;
  border-radius: 0px  0px 70px 0px;
  
  
}
.three>img{
  object-fit: cover;
  object-position: center center;
  width:196px ;
  height: 234px;
  padding: 15px;
  border-radius: 0px  0px 70px 0px;
  
}

.four>img{
  object-fit: cover;
  object-position: center center;
  width:196px ;
  height: 234px;
  padding: 15px;
  border-radius: 70px  0px 70px 0px;
}

/* Contact Button Styles */
button.contact-btn {
  width: 190px;
  height: 69px;
  border-radius: 40px;
  background-color: #FFBA36;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

button.contact-btn a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* Hover, Active, Focus Effects for Contact Button */
button.contact-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

button.contact-btn:active {
  background-color: #1e7e34;
  transform: scale(1);
}

button.contact-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

/* Explore Button Styles */
.explore-btn {
  display: inline-block;
  width: 200px;
  height: 69px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  text-align: center;
  line-height: 27px;
  padding: 0;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.explore-btn a {
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Hover, Active, Focus Effects for Explore Button */
.explore-btn:hover {
  background-color:#218838;
  color: #000000;
  border-color: #218838;
  transform: scale(1.05);
}

.explore-btn:active {
  background-color:#218838;
  border-color: #1e7e34;
  transform: scale(1);
}

.explore-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

.heading{
  width: 84%;
  margin: 0 auto;
}
.heading > h3 {
  color: #6D6D6D;
  font-family: 'Public Sans', sans-serif; 
  font-weight: 100;
  font-size: 60px;
  line-height: 74.03px;
}

/*----- Header-text---- */
.header-text{
  width: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content>h1{
  font-size: 32px;
  font-weight: 700;
  color: #FFBA36;
  display: flex;
  justify-content: space-between;
  padding: 10px;

}
.content{
    color:#B0B0B0; 
    width: 30%;
  }
.img img {
  filter: invert(46%) sepia(1%) saturate(1%) hue-rotate(180deg) brightness(100%) contrast(100%);
  width: 450px;
}

.cards{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card>img{
  height:226px;
 border-radius: 20px;
 background-color: #FFFFFF;

}
.card{
  background-color:#3F3F3F;
  border-radius: 20px;
  padding: 10px;
}

.Primary-btn {
  width: 200px;
  text-decoration: none;
  padding:10px 30px 10px 10px;
  background-color:#515151;
  border: none; 
  color:#FFFFFF; 
  font-size: 18px;
  cursor: pointer; 
  border-radius: 20px; 
}
.Primary-btn:hover {
  background-color: #0056b3; 
}


/* <!-- OUR SERVICES STARTS HERE --> */
.head{
  width:84%;
  margin: 0 auto;
}
.head>h3{
  color: #FFBA36;
  font-size: 32px;
  font-weight: 700;
  margin-top:60px;
  
}
.Our-services-cards{
  width: 84%;
  margin: 0 auto;
}
.service-card-1,.service-card-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.card-second>img{
  height:126px;
 border-radius: 20px;
 background-color: #FFFFFF;

}
.card-second{
  background-color:#3F3F3F;
  border-radius: 20px;
  padding: 10px;
}
.card-text{
  color: #B0B0B0;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;

}

.Primary-btn-2{
  margin-top: 20px;
  width: 230px;
  padding:10px 5px 10px 5px;
  text-decoration: none;
   background-color:#515151;
  border: none; 
  color:#FFFFFF; 
  font-size: 16px;
  cursor: pointer; 
  border-radius: 20px;
}
.btn-large{
  margin-top: 20px;
  width: 230px;
  padding:10px 30px 10px 10px;
  text-decoration: none;
   background-color:#515151;
  border: none; 
  color:#FFFFFF; 
  font-size: 15px;
  cursor: pointer; 
  border-radius: 20px;
  height: 50px !important;
  padding: 0 0 !important;
  font-size:16px !important;
}
.head2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
} */

.testimonals{
  width: 84%;
  margin: 0 auto;

}
.t1{
  width: 84%;
  margin: 0 auto;
display: flex;
justify-content: space-between;

}
.test-3{
  display:flex ;
  width: 630px;
  height: 185px;  
  justify-content: space-between;
  align-items: center;
  background-color: #3F3F3F;
  border: 1px solid #FFBA36;
}
.testimonals> h1{
  font-weight: 700;
  color: #FFBA36;

  
}
.testimonals > p{
  width: 55%;
  font-weight: 400;
  font-size: 18px;
  color: #B0B0B0;
  padding: 1rem 0;

}
.test-7{
  white-space: nowrap;
  font-weight: 400;
  font-size: 10px;
  text-align: right;
  color: #FFFFFF;
}

.test-7>h3{
margin-top: 100px;
margin-right: 50px;
  

}
.test-6>p{
  width: 428;
  height: 70px;
  margin-left: 20px;
  margin-top: -50px;

}
.pic{
  background-color:#3F3F3F;
  height: 170px;
  width: 300px;
  display: flex;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.pic>img{
  height: 144px;
  width:136px ;
  border-radius: 20px;
  object-fit: cover;

}
.loader {
  width: 100%;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  
}

.loader .dot {
  width: 13px;
  height: 13px;
  background-color: #D9D9D9;
  border-radius: 50%;
 
  
  
}

.loader .dot:nth-child(2) {
  margin-left: 4px;
}

.loader .dot:nth-child(3) {
  margin: 4px;
}

/* ---Testimonals starts from here--- */
.testimonals{
  width: 84%;
  margin: 0 auto;
}
.test-4{
  display:flex ;
  width: 630px;
  height: 185px; 
  justify-content: center;
  align-items: center;
  background-color: #3F3F3F;
  border: 1px solid #FFBA36;
}

.test-1>h3{
  font-weight: 700;
  font-size: 32px;
  margin-left: 80px;
  
  
}
.test-2>p{
  font-family: 'Public Sans', sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 21.15px;
  color: #B0B0B0;
  width: 730px;
  height: 126px;
  top: 2561px;
  margin-left: 80px;


}
.test-7>h3{
  font-family: 'Public Sans', sans-serif; 
  font-weight: 400;
  font-size: 18px;
}
.test-10>h3{
  font-family: 'Public Sans', sans-serif; 
  font-weight: 400;
  font-size: 18px;
}
.test-10{
  white-space: nowrap;
  font-weight: 400;
  font-size: 10px;
  text-align: right;
  color: #FFFFFF;
}

.test-10>h3{
margin-top: 100px;
margin-right: 50px;
  

}
.test-9>p{
  width: 428;
  height: 70px;
  margin-left: 20px;
  margin-top: -50px;

}
.pic-1{
  background-color:#3F3F3F;
  height: 170px;
  width: 300px;
  display: flex;
  margin-left: 15px;

  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.pic-1>img{
  height: 144px;
  width:136px ;
  border-radius: 20px;
}


/* -----ABOUT US------- */
.abt{
  
  display: flex;
  justify-content: space-between !important;
}

.ab{
  width: 84%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color:#FFBA36;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin-top: 12rem;
}


.about-us{
  width:650px ;
  color: #B0B0B0;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.15px;
}

.about-us > h1 {
  margin-bottom: 2rem;
  color:#FFBA36;

}

.kv-logo>img{
  margin-bottom: 6rem;
  width: 100%;
  height: 300px;
  
  
}

.about-btn {
  height:65px ;
  width:170px;
  background-color: #000000; 
  border: 1px solid #FFFFFF; 
  color:#FFFFFF; 
  padding: 10px 20px; 
  font-size: 18px; 
  font-weight: 400; 
  cursor: pointer; 
  border-radius: 40px; 
  transition: background-color 0.3s, transform 0.2s;
  outline: none; 
  margin-top: 40px;
}

.about-btn:hover {
  background-color: #218838; 
  transform: scale(1.05); 
}

.about-btn:active {
  background-color: #1e7e34;
  transform: scale(1); 
}

.about-btn:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); 
}

/* ------Contact-us------ */
.cnt{
  width: 84%;
  margin: 0 auto;
  font-weight: 700;
  color:#FFBA36;
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}

 .contact-us{
  width: 40%;
  color: #B0B0B0;
 }
.contact-us >h1{
  color:#FFBA36 ;
  font-weight: 400;
  padding: 10px;
 
}
/* -----Form styles----- */
.contact-form{
  width: 40%; 
  max-width: 700px; 
  margin-top:11rem ;

}
.form-control{
  font-weight:200;
  font-size: 24px;
  background-color: #000000;
  border: none;
  outline: none;
  border-bottom: 1px solid #FFFFFF;
  line-height: 55px;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 0;
  
  
}
.form-control::placeholder{
    color: #b0ada7;
    opacity: 1;
}
.button-wrap{
width: 100%;
text-align: right;
}
.sub-btn {
  width: 30%;
  height: 45px;
  margin-top: 1rem;
  border: none;
  border-radius: 40px;
  background-color: #FFBA36;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.sub-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.sub-btn:active {
  background-color: #1e7e34;
  transform: scale(1);
}

.sub-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}

/* ----footer styles---- */
.footer-content{
  width: 84%;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info img {
  width: 66px;
  height: 46px;
}

.footer-text>h2{
  font-weight: 700;
}
.footer-text>p{
  font-weight: 200;
  font-size: 16px;
  color: #FFFFFF;
 
  
}
.footer-left{
  width: 40%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.footer-left .services ul li a,
.footer-left .contact a {text-decoration: none;
  color: #B0B0B0;

}
.services{
  align-self: flex-start;

}
.services>h3{
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;

}
.services ul{
  transform: translateX(-30px);
}
.services ul li{
  list-style: none;
}

.Contacts>h3{
  font-weight: 700;
}
.Contacts>p{
  color: #B0B0B0;
}
.Contacts a{
  text-decoration: none;
  color: #B0B0B0; ;
}
.footer-bottom {
  width: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  margin-top: 3rem;
  margin-bottom: 1rem;

}
.footer-bottom-left>p{
  font-weight: 200;
  font-size: 16px;
}
.footer-bottom-right {
  display: flex;
  width: 15%;
}

.footer-bottom-right .social-icon {
  width:20%;
  background-color: #FFD700;
  color: black; 
  margin: 0 auto;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
  border-radius:5px;
  align-items: center;
  padding-left: 3px;
  
}
/* Media Queries */
